<!DOCTYPE html>
<html>
<head>

</head>

<body>
<vaadin-vertical-layout>
    <vaadin-vertical-layout>
        <vaadin-vertical-layout>
            <vaadin-text-field _id="nameField" caption="Recipe name"></vaadin-text-field>
            <vaadin-text-field _id="valueField" caption="Recipe"></vaadin-text-field>
            <vaadin-native-select _id="prioritySelect" caption="Priority"></vaadin-native-select>
        </vaadin-vertical-layout>
        <vaadin-horizontal-layout>
            <vaadin-button _id="submitButton">
                Save
            </vaadin-button>
            <vaadin-button _id="dismissButton">
                Cancel
            </vaadin-button>
        </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
</vaadin-vertical-layout>
</body>
</html>