<!DOCTYPE html>
<html>
<head>

</head>

<body>
<vaadin-vertical-layout>
    <vaadin-vertical-layout>
        <vaadin-vertical-layout>
            <vaadin-text-field _id="firstNameField" caption="First name"></vaadin-text-field>
            <vaadin-text-field _id="secondNameField" caption="Second name"></vaadin-text-field>
            <vaadin-text-field _id="middleNameField" caption="Middle name"></vaadin-text-field>
            <vaadin-text-field _id="phoneField" caption="Phone"></vaadin-text-field>
            <vaadin-text-field _id="specializationField" caption="Spec"></vaadin-text-field>
            <vaadin-native-select _id="roleSelect" caption="Role"></vaadin-native-select>
        </vaadin-vertical-layout>
        <vaadin-horizontal-layout>
            <vaadin-button _id="submitButton">
                Save
            </vaadin-button>
            <vaadin-button _id="dismissButton">
                Cancel
            </vaadin-button>
        </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
</vaadin-vertical-layout>
</body>
</html>